<h1>welcome page {{ title }}</h1>

<!-- <input type="text" placeholder="enter you name" disabled={{disabl}}>
<br><br>
<input type="text" placeholder="enter you name" [disabled]=disabl> -->

<!--<h1 *ngIf="show then ifblock else elseBlock">
   

 </h1>
<ng-template #ifblock>
    <h1> if condition</h1>
</ng-template>

<ng-template #elseBlock>
<h1>Else condition</h1>

</ng-template> -->

<!-- for multiple else-if conditions -->

<!-- <ng-template [ngIf]="color==='blue'">
<h2 style="color: blue;">hellow world!</h2>

</ng-template> -->


<h1 *ngIf="color==='blue'">hellow world</h1>
<!-- 
<ng-template #ifblock>
  <h1>I am inside if block</h1>
</ng-template>
<ng-template #elseblock>
<h1>I am inside else block</h1>
</ng-template> -->

